




  
body{

    background-color: rgba(246, 250, 210, 0.795);

    font-family: 'Rye', cursive;
    margin: 0;
   /* font-family: Arial, Helvetica, sans-serif;*/
 /* background-color: LightPink;
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;*/
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgba(51, 127, 199, 0.822);
      }

      ul {
        position: fixed;
        top: 0;
        width: 100%;
      }


     li {

        float: left;
     } 


      li a {
        display: block;
        color: white;
        font-size: 25
        pt;
        
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:#07534f;
      }

      .topnav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #4CAF50;
        color: white;

      .myDiv {

        border: 2px outset rgb(12, 19, 88);
       background-color: lightblue;    
       text-align: center;
      }


      h2 {

        color: rgba(51, 127, 199, 0.822);
        font-size: 10pt;
      }

      .active {
        background-color:#07534f ;
      }

      .title {

        font-size:100 pt ;
        color: #0000FF;

      }
 